*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1rem;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  overflow: hidden;
  display: flex;
  padding-inline: 15rem;
}

.container+.container {
  margin-top: 2rem;
}

.container .details-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.details-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 18rem;
  height: 22rem;
  border: 2px solid #E7EFF6;
  border-radius: .5rem;
  overflow: hidden;
  padding-inline: 1.5rem;
}

.details-inner h2 {
  color: #172438;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: .875rem;
}

.details-inner h2 span {
  font-size: 1rem;
}

.details-inner p {
  font-size: .875rem;
}

.details-inner img {
  width: 10rem;
}

.container .info-wrapper {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border: 2px solid #E7EFF6;
  border-radius: .5rem;
}

.info-inner {
  height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 1rem;
}

.info-inner img {
  width: 4rem;
}

.info-inner p {
  font-size: .875rem;
}

.purchase {
  width: 50%;
}

.purchase img {
  width: 40rem;
}

.reviews {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 4rem;
  margin-block: auto;
}

.reviews .solidary h1 {
  font-family: 'Inter', sans-serif;
  color: #172438;
  margin-bottom: 1rem;
  font-size: 3rem;
}